
<app-titulo></app-titulo>

<div class="m-auto p-5 px-6">
  <app-credito-input
    [credito]="credito()"
    (creditoChange)="atualizarCredito($event)">
  </app-credito-input>

  <h2>Saldo Disponível: R$ {{ saldo() | number:'1.2-2' }}</h2>

  <app-items-input
    [despesaForm]="despesaForm"
    [totalGasto]="totalGasto()"
    [sugestoesCategoria]="obterSugestoesCategoria()"
    (adicionarDespesa)="adicionarDespesa()">
  </app-items-input>
  <app-items-table
    [despesasFiltradas]="despesasFiltradas()"
    [classificarCategoria]="classificarCategoria.bind(this)"
    (removerDespesa)="removerDespesa($event)">
  </app-items-table>

  <app-filtros-despesa
    [despesas]="despesas()"
    [despesasFiltradas]="despesasFiltradas()"
    [filtroCategoria]="filtroCategoria()"
    [filtroData]="filtroData()"
    (filtroCategoriaChange)="atualizarFiltroCategoria($event)"
    (filtroDataChange)="atualizarFiltroData($event)"
    (limparFiltro)="limparFiltro()">
  </app-filtros-despesa>
