* {
  margin: .5rem;
}


form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input, button {
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  cursor: pointer;
  width: 180px;
  height: 60px;
  background: transparent;
  border: 1px solid #5de75d;
  outline: none;
  transition: 1s ease-in-out;
}

button:hover{
  background-color: #2aaa64;
  transition: .5s ease-in-out;
}


